<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

<div
  class="info1"
  style="max-width: 520px; margin: 0 auto; border: 10px solid green"
>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
    voluptas quod, ducimus dolorum architecto in, laboriosam quos totam soluta
    fugiat, a illum quibusdam minus.
  </p>
  <ul>
    <% if(posts.length) {%> <%posts.forEach(({id, title, author}) => { %>
    <li>
      <article>
        <div class="info">
          <b>Назва:</b> <%=title %>.<br />
          <b>Автор:</b> <%=author%>. <br />
          <form action="/delete-post/<%=id%>" method="post">
            <button type="submit">Видалити</button>
          </form>
        </div>
      </article>
    </li>
    <%}) %><%}%>
  </ul>
</div>
<%- include('./partials/footer.ejs') %>